<h4>子组件</h4>
<button @onclick="PassToParent">向父组件传值</button>
<p>String received from Parent : @ToChild</p>

@functions{
    [Parameter]
    public string ToChild { get; set; }
    [Parameter]
    public Action<string> FromChild { get; set; }

    private string childString;

    public void PassToParent()
    {
        childString = ToChild + "- 向父组件";
        FromChild(childString);
    }
}

<div class="row">
    <h2>子组件</h2>
</div>

<div class="row">
    <span>Year: </span> <input class="form-control" type="text" value="@Year" />
</div>

@code {
    [Parameter]
    public int Year { get; set; }

    [Parameter]
    public EventCallback<int> YearChanged { get; set; }
}