<Menu Theme="MenuTheme.Dark"
      DefaultSelectedKeys=@(new[]{"1"})
      DefaultOpenKeys="@(new[] { "sub1"})"
      Mode="MenuMode.Inline"
      Accordion
      >
    <MenuItem Key="1" RouterLink="" RouterMatch="NavLinkMatch.All">
        <Icon Type="oi oi-home" Theme="outline" />
        <span>主页</span>
    </MenuItem>


    @code {
        RenderFragment sub1Title =
        @<span>
            <Icon Type="mail" Theme="outline"></Icon>
            <span>AntDesign组件</span>
        </span>;
    }
<SubMenu Key="sub1" TitleTemplate=@sub1Title>
    <SubMenu Title="通用">
        <MenuItem RouterLink="and-demo/ant-button">
            Button
        </MenuItem>
        <MenuItem RouterLink="and-demo/ant-icon">
            Icon 图标
        </MenuItem>
        <MenuItem RouterLink="and-demo/ant-paragraph">
            Paragraph 排版
        </MenuItem>
    </SubMenu>
    <SubMenu Title="布局">
        <MenuItem RouterLink="and-demo/ant-divider">
            Divider 分割线
        </MenuItem>
    </SubMenu>

</SubMenu>

    @code {
        RenderFragment sub2Title =
        @<span>
            <Icon Type="appstore" Theme="outline"></Icon>
            <span>Blazor 用例</span>
        </span>;
    }
    <SubMenu TitleTemplate=@sub2Title>
        <MenuItem RouterLink="todo">
            待办列表
        </MenuItem>
        <MenuItem RouterLink="counter">Counter</MenuItem>
        <MenuItem RouterLink="fetchdata">Fetch data</MenuItem>
        <MenuItem RouterLink="navigate">应用内导航</MenuItem>
        <MenuItem RouterLink="two-way-binding">双向绑定</MenuItem>
        <MenuItem RouterLink="parent-child">父子传值</MenuItem>
    </SubMenu>

    @code {
        RenderFragment sub3Title =
        @<span>
            <Icon Type="setting" Theme="outline"></Icon>
            <span>测试菜单</span>
        </span>;
    }
    <SubMenu TitleTemplate=@sub3Title>
        <MenuItem>Team 1</MenuItem>
        <MenuItem>Team 2</MenuItem>
        @foreach (var c in Enumerable.Range(0, 3))
        {
            <MenuItem Key="@c.ToString()">
                菜单 - @c.ToString()
            </MenuItem>
        }
    </SubMenu>


</Menu>
